@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1180px;
  margin: auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p, li, a {
  font-size: 1rem;
  color: #222222;
}
section {
  position: relative;
  padding: 80px 0;
}
section > span {
  position: absolute;
  top: -60px;
  width: 0;
  height: 0;
  display: block;
}
.title {
  color: #460876;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}
.subtitle {
  text-align: center;
  max-width: 750px;
  margin: auto;
  margin-bottom: 50px;
}

/* === HEADER === */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #801CBD;
}
header .container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
header .logo {
  /* font-size: 0; */
  transition: 0.4s;
  color: #FEFEFE;
}
header .logo:hover {
  color: #460876;
}
header ul {
  display: flex;
}
header ul li {
  margin-left: 20px;
  line-height: 100%;
}
header ul li:first-child {
  margin-left: 0px;
}
header ul li .link {
  position: relative;
  display: inline-block;
  color: #FEFEFE;
  transition: 0.2s;
  line-height: 40px;
  outline: none;
}
header ul li .link:hover {
  color: #D09EF8;
}
header ul li .link.active::after {
  width: 100%;
}
header ul li .link::after {
  content: "";
  transition: width .4s;
  display: block;
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 3px;
  background-color: #D09EF8;
}
header ul li .link:hover::after {
  width: 100%;
}
header ul li .link:focus {
  color: #D09EF8;
}
header ul li:first-child {
  margin-left: 0;
}
.gn-button {
  display: block;
  width: 130px;
  line-height: 40px;
  font-size: 1rem;
  color: #FEFEFE;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #801CBD;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
header .gn-button {
  background-color: #460876;
}
header .gn-button:focus {
  box-shadow: 0 0 6px #D09EF8;
}
header .gn-button:active {
  background-color: #D09EF8;
}
header .gn-button:hover {
  background-color: #D09EF8;
  box-shadow: 0 0 10px #D09EF8;
}
.gn-button:focus {
  background-color: #9f48d4;
}
.gn-button:active {
  background-color: #9f48d4;
}
.gn-button:hover {
  background-color: #9f48d4;
  box-shadow: 0 0 10px #9f48d4;
}

/* === sides === */
.sides {
  display: flex;
  justify-content: space-between;
}
.sides .left,
.sides .right {
  max-width: 49%;
  /* border: 1px solid black; */
}

/* === HERO === */
#hero {
  margin-top: 80px;
}
#hero .sides {
  align-items: center;
}
#hero .sides .left {
  max-width: 610px;
}
#hero .sides .left h2.title {
  text-align: left;
  text-transform: none;
}
#hero .sides .left p {
  font-size: 1.25rem;
  margin: 20px 0 35px;
}
#hero .sides .left .gn-button {
  max-width: 200px;
  width: 100%;
}
#hero .sides .right {
  max-width: 100%;
}
#hero .sides .right img {
  width: 100%;
  border-radius: 30px;
  border-bottom-right-radius: 0px;
}

/* === ABOUT === */
#about {
  background-color: #F0E3FF;
}
#about .sides .left img {
  width: 100%;
  border-radius: 30px;
}
#about .sides .right {
  max-width: 450px;
}
#about .sides .right h2.title {
  font-size: 1.5rem;
  text-align: left;
  text-transform: none;
}
#about .sides .right ul li {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin-bottom: 15px;
}
#about .sides .right ul li:last-child {
  margin-bottom: 0;
}
#about .sides .right img {
  min-width: 62px;
  height: 62px;
  margin-right: 10px;
  border-radius: 62px;
  background-color: #801CBD;
}

/* === CONTENT === */
#content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#content .box {
  max-width: 260px;
  box-shadow: 0px 0 20px 0 rgb(128, 28, 189, 0.3);
  transition: .4s;
}
#content .box:hover {
  transform: translateY(-20px);
}
#content .box:hover h3 {
  color: #D09EF8;
}
#content .box .content {
  padding: 25px;
}
#content .box img {
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 60px;
  background-color: #801CBD;
}
#content .box h3 {
  font-size: 1.5rem;
  margin-bottom: 12px;
  color: #801CBD;
  transition: .4s;
}
#content .box p {
  font-size: 0.875rem;
  margin-bottom: 30px;
}
#content .box .gn-button {
  width: 100%;
}

/* === BUDGET === */
#budget {
  background-color: #F0E3FF;
}
.card .content {
  position: relative;
  margin: auto;
  padding: 35px 0%;
  text-align: center;
  border-radius: 5px;
  background: linear-gradient(#F0E3FF, #e2c9ff);
  border: 1px solid #460876;
  max-width: 300px;
}
.card .recommend-text {
  display: none;
  position: absolute;
  top: -14px;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 28px;
  width: 135px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 3px;
  background-color: #460876;
}
.card .recommend {
  border: 2px solid #460876;
}
.card .recommend .recommend-text {
  display: block;
}
.card h3 {
  font-size: 1.5rem;
  margin-bottom: 35px;
}
.card ul li {
  margin-bottom: 15px;
}
.card ul li:last-child {
  margin-bottom: 0;
}
.card .li-disabled p {
  opacity: 0.5;
}
.card .li-disabled ~ li p {
  opacity: 0.5;
}
.card .price {
  position: relative;
  margin-top: 25px;
}
.card .price-parc {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.card .price-value {
  font-size: 2.5rem;
}
.card .price-eco {
  position: absolute;
  bottom: -10px;
  right: 0;
  left: 0;
  margin: auto;
}
.card .gn-button {
  margin: auto;
  margin-top: 30px;
}

/* === FAQ === */
.accordion {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1rem;
  text-align: left;
  transition: .2s;
  outline: none;
  border: 2px solid #801CBD;
  background-color: transparent;
}
.accordion:last-child {
  margin-bottom: 0px;
}
.accordion .accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.accordion .accordion-header h3 {
  font-size: 18px;
  transition: 0.2s;
  color: #801CBD;
}
.accordion:focus .accordion-header h3 {
  color: #460876;
}
.accordion .accordion-header .arrow {
  width: 22px;
  height: 22px;
  margin-left: 20px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: .2s;
}
.accordion[show] .accordion-header .arrow {
  transform: rotate(-180deg);
}
.accordion .accordion-content {
  height: 0;
  overflow: hidden;
}
.accordion[show] .accordion-content {
  height: auto;
}
.accordion .accordion-content > div {
  padding: 0 20px 20px;
}
.accordion[show] .accordion-content > div {
  animation: accordion-anima .4s forwards;
}
@keyframes accordion-anima {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0px);
  }
}